CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y
CONFIG_FREERTOS_HZ=1000
CONFIG_LWIP_TCP_KEEPALIVE=y
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=8192
CONFIG_LWIP_TCP_WND_DEFAULT=8192
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_SNAPSERVER_ENABLE_MESH_LITE=y
CONFIG_MESH_LITE_ENABLE=y
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096
CONFIG_MESH_SOFTAP_SSID_PREFIX="SnapMesh_sr"
CONFIG_MESH_SOFTAP_PASSWORD="criticalmass"
CONFIG_LWIP_MAX_SOCKETS=24
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
